
<div class="about-component">
	<div class="cube" #cubeArea>
		<div class="about-face-one">
			<span>General Info</span>
			<p>
				My name is Joshua E. Rice and I create websites from scratch.
				I am 28 years old and I have been married to my wife for 6 
				years now.
			</p>
			<p>
				My newest drug is Angular 2 and the MEAN stack. This entire website is built using Node.js, Angular 2, and express. The only thing none mean is this jquery function you are seeing right now. By the way if your computer can't render this fast enough...I'm sorry.
			</p>
		</div>
		<div class="about-face-two">
			<span>Goals</span>
			<p>
				Obviously I wish to be debt free but eh. I would like to continue
				to express my artistic and creativity to anyone who wants it.
			</p>
		</div>
		<div class="about-face-three">
			<span>Hobbies</span>
			<p>
				I work a physical demanding job 9 - 10 hours a day. When I come home I sit on my couch giving my brain the best and a very fullfilling mental stimulation. Coding and developing cool and interactive websites like this. 
			</p>
			<p>
				I normally code 5 - 6 hours each night during the work week and anywhere from 10 - 12 hours during the weekend.
			</p>
			<p>
				If I am not coding, I might be snowboarding during the winter, swimming during the summer, or Learning something new.
			</p>
		</div>
		<div class="about-face-four">
			<span>SKILLS</span>
			<ul>
				<li>
					HTML5
				</li>
				<li>
					CSS3
				</li>
				<li>
					jQuery
				</li>
				<li>
					Angular 2
				</li>
				<li>
					Nodejs
				</li>
				<li>
					Express
				</li>
				<li>
					CSS3
				</li>
			</ul>
		</div>
		<div class="about-face-five">
			<span>CSS</span>
			<p>
				See the box lol.
			</p>
		</div>
		<div class="blank-face-six">
		</div>
	</div>
</div>

