<div class="navbar-wrapper">
  <nav class="navbar">
    <ul>
        <li class="menu">
          <a href="#">Menu</a>
        </li>
        <li class="home">
          <a routerLink="/header" routerLinkActive="active">Joshua E. Rice</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active">About Me</a>
        </li>
        <li>
          <a routerLink="/portfolio" routerLinkActive="active">Projects</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">Thoughts?</a>
        </li>
      </ul>
  </nav>
</div>

  <router-outlet></router-outlet>

